.blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 96px;

  div {
    //background-color: #1B3425;

    p {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
    }

    p:nth-child(2) {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 44px;

      margin-top: 20px;
    }
  }
}

.resultBlock {

}

.result_first_element {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;

  margin-top: 32px;

}

.result_second_element {

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;

  margin-top: 32px;

}