@import "../../../styles/variables";

.card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-basis: 300px; height: 300px;
  flex-grow: 0;

  p {
    margin: 10px;
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    font-size: 14px;
  }
}

.cardGreen {
  @extend .card;
  background-color: $primary-color;
  p {
    color: $second-color;
  }
}

.cardYellow {
  @extend .card;
  background-color: $second-color;
  p {
    color: $primary-color;
  }
}
