$greyColor: #9E9E9E;

.member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  margin-top: 83px;
}

.greyText {
  p {
    color: $greyColor;
  }
}
.greyTextSecond {
  margin-top: 43px;
  p {
    color: $greyColor;
  }
}
.member_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
}