@import "../../styles/variables";

.button {
  border: 1px solid black;
  background-color: white;
  width: 230px;
  height: 58px;
}

.get_call_card {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 56px;

  div {
    p {
      margin: 24px;
    }
    button {
      @extend .button;
      background-color: $second-color;
      border: none;
      color: $primary-color;
    }
  }
}
.what_you_will_get {
  font-weight: bold;
}
.bookFreeConsult {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
}
.make_appointment {
  width: 60%;

}