@import "../../styles/variables";

.join_vip_club {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5em;
  padding: 2em;
}
.join_vip_club_inner {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.button_space {
  display: flex;
  justify-content: center;
  align-items: center;

}
.button {
  border: 1px solid black;
  width: 15em;
  height: 4em;
  color: $primary-color;
  background-color: $second-color;
}
